@model IEnumerable<mvc_app.Models.Item>


@* Ovaj title ce bit vidljiv na tekstu tab-a u Chrome-u (ili browseru koji se koristi).*@

@{
    ViewData["Title"] = "Tasks, probni title u viewdata";
}
<h2>Items</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price.ToString("N2") $</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

                </td>
            </tr> 
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary"> Create an Item</a>